*{
    box-sizing: border-box;
}

html, body {
    height: 99%;
}

#container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#hero{
    max-width: 100%;
    height: auto;
}
